.PersonCard {
    height: 120px;
    padding: 10px 0px 0px 50px;
    background-color: rgb(253, 195, 180, 0.5);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    border-radius: 2cm;
    margin-top: 20px;
}

.PersonCard-left {
    flex: 1;
}

.PersonCard-center {
    flex: 1;
}

.PersonCard-right {
    flex: 0.5;
    align-items: center;
    padding-top: 15px;
}

.AddEvent-button {
    padding: 0.3rem 2rem;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 2cm;
}

.AddEvent-button:hover {
    background-color: #2694ab;
    border-color: #2694ab;
}

.addEventPopup {
    background-color: rgb(234, 112, 112, 1);
    height: 90vh;
    width: 50vh;
    border-radius: 2cm;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.inputField div {
    width: 250px;
    margin-bottom: 10px;
}

.dropdown {
    width: 250px;
    margin-top: 20px;
    left: 17%;
}

.closePopup {
    font-size: 20px;
    margin-right: 0;
    margin-left: 38vh;
    cursor: pointer;
}

.closePopup:hover {
    color: crimson;
}

.titlePopup {
    font-family: inherit;
    margin-top: -20px;
}

.saveButton {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saveButton button {
    cursor: pointer;
    font: inherit;
    background-color: rgb(253, 196, 182, 0.7);
    border: rgb(253, 196, 182, 0.7);
    border-radius: 10px;
    padding: 0.2rem 2rem 0.4rem 2rem;
    font-size: 20px;
}

.saveButton button:hover {
    background-color: #2694ab;
    border-color: #2694ab;
}

.ErrorMessage {
    color: red;
    font-weight: bold;
    font-size: 20px;
}