.auth {
    margin: 3rem auto;
    width: 80%;
    max-width: 22rem;
    border-radius: 10px;
    background-color: #ea7070;
    padding: 1rem;
    text-align: center;
    color: white;
}
.control input:focus{
    outline: none;
}
.auth h2 {
    text-align: center;
    color: white;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.control input {
    font: inherit;
    background-color: #fdc4b6;
    border-radius: 10px;
    border: 1px solid white;
    width: 80%;
    text-align: left;
    padding: 0.25rem;
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #fdc4b6;
    border: 2px solid #e59572;
    border-radius: 10px;
    padding: 0.5rem 2.5rem;
}

.actions button:hover {
    background-color: #2694ab;
    border-color: #2694ab;
}
